.background {
    height: 100vh;
    width: 100vw;

    background: url('../app/assets/img/Tile_Flower2.png');

    
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    


    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

