.menuItems {
    margin-right: clamp(4rem, 20vw, 48rem) ;
    
}

.menuItem {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Righteous-Regular";

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0vw, 1rem) 0rem;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.menuItem:hover {
    color: aqua;
  }


.menuItems:hover .menuItem:not(:hover) {
    opacity: 0.5;
  }

