.card {
  width: 47vmin;
  background-color: rgba(2, 0, 0, 0.5);
  transform: translateX(-9%) rotate(-2deg);
  position: absolute;
}

.name {
  font-family: "Righteous-Regular";
  color: red;
  text-align: center;
  font-size: 5vmin;
  background-color: rgba(5, 0, 0, 0.75);
}

