.card {
  width: 45vmin;
  /*transform: translateX(-9%) rotate(-2deg);*/
  position: absolute;
  aspect-ratio: 5 / 7;
  /*right: 10%;*/
  /*z-index: 4;*/
}

.border {
  outline: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.name {
  font-family: "Righteous-Regular";
  text-align: center;
  font-size: 5vmin;
  background-color: rgba(5, 0, 0, 0.75);
}

.img {
  width: 100%;
}