.profile {
    width: 15vmin;
    height: 15vmin;

    border: 0.3vmin solid rgb(42, 206, 247);
    border-radius: 50%;

    background-image: url('../app/assets/img/anthony-profile.jpg');
    background-clip: content-box;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 50%;

    padding: 0.7vmin;
    z-index: 1;
}